html
    head
        title Edit game
    body
        h1 Edit game
        form(method='POST' action='/players/'+id+"?_method=PATCH" )
            input(type='text', name= 'name')
            input(type='email', name= 'email')
            button(type='submit') Edit