html
    head
        title Add game
    body
        h1 Add game
        form(method='POST' action='/players')
            input(type='text', name= 'name')
            input(type='text', name= 'mode')
            button(type='submit') Add